In [ ]:
import pandas as pd

In [ ]:

data = {
    'Order ID': [1001, 1002, 1003, 1004, 1005],
    'Customer': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Category': ['Electronics', 'Clothing', 'Electronics', 'Books', 'Clothing'],
    'Quantity': [1, 2, 1, 3, 2],
    'Price': [1000, 500, 1200, 300, 700],
    'Order Date': ['2024-12-01', '2024-12-02', '2024-12-02', '2024-12-03', '2024-12-03']
}

df = pd.DataFrame(data)
df['Order Date'] = pd.to_datetime(df['Order Date'])
df

In [ ]:
type(df["Order Date"][0])

In [ ]:
df2 = df.iloc[2:]

In [ ]:
df

In [ ]:
df.query("Price > 400 and Customer == 'Alice'")

In [ ]:
df.sort_values(by='Order Date', ascending=False)
df.sort_index()

In [ ]:
df.loc[2, "Price"] = None
df.loc[4, "Category"] = None
df.loc[1, "Order Date"] = None
df

In [ ]:
df["Price"].mean()
df["Price"].sum()
df["Price"] = df["Price"].fillna(df["Price"].mean())
df

In [ ]:
df["Order Date"] = df["Order Date"].fillna(df["Order Date"].mean())

In [ ]:
df.loc[1, "Quantity"] = 1
df

In [ ]:
df.groupby('Customer')['Price'].sum()

In [ ]:
df.groupby(['Customer', 'Category'])['Price'].mean()

In [ ]:
df.loc[1, "Quantity"] = 1
df

In [100]:
df.groupby('Customer').agg({'Price': ['sum', 'mean'], 'Quantity': 'sum'})

           Price        Quantity
             sum   mean      sum
Customer
Alice     1300.0  650.0        4
Bob       1200.0  600.0        3
Charlie    625.0  625.0        1

In [106]:
df['Customer'].value_counts()
df['Category'].nunique()
df['Category'].unique()

array(['Electronics', 'Clothing', 'Books', None], dtype=object)