In [2]:
import pandas as pd 
import numpy as np

ser = pd.Series() 
print("Pandas Series: ", ser) 

data = np.array(['g', 'e', 'e', 'k', 's']) 
  
ser = pd.Series(data, index = [4, 5, 6, 9, 8]) 
print("Pandas Series:\n", ser)

Pandas Series:  Series([], dtype: object)
Pandas Series:
 4    g
5    e
6    e
9    k
8    s
dtype: object

In [3]:
import pandas as pd 
   
df = pd.DataFrame() 
print(df)

lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks'] 
  
df = pd.DataFrame(lst) 
print("\n\n", df)

Empty DataFrame
Columns: []
Index: []


         0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [4]:
import pandas as pd

# Creating two Series
series1 = pd.Series([1, 2, 3, 4])
series2 = pd.Series([5, 6, 7, 8])

# Addition
result_addition = series1 + series2
print(result_addition)

0     6
1     8
2    10
3    12
dtype: int64

In [5]:
# Creating a DataFrame
data = {'A': [10, 20, 30], 'B': [5, 15, 25]}
df = pd.DataFrame(data)

# Calculating mean for each column
mean_values = df.mean()
print(f"{df}\n--------------")
for col, mean in mean_values.items():
    print(f"{col} : {mean}")

    A   B
0  10   5
1  20  15
2  30  25
--------------
A : 20.0
B : 15.0

In [13]:
import numpy as np

# Creating a DataFrame
data = {'A': [10, 20, 30,34,54], 'B': [5, 15, 25,34,26], 'C':[4,5,7,6,85]}
df = pd.DataFrame(data)
print("shape -- ", df.shape)
print(f"columns -- {df.columns}")
# Applying element-wise square root
result_sqrt = np.sqrt(df)
print(result_sqrt)
print(type(df))
print(type(result_sqrt))

shape --  (5, 3)
columns -- Index(['A', 'B', 'C'], dtype='object')
          A         B         C
0  3.162278  2.236068  2.000000
1  4.472136  3.872983  2.236068
2  5.477226  5.000000  2.645751
3  5.830952  5.830952  2.449490
4  7.348469  5.099020  9.219544
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
import numpy as np

# Creating a DataFrame
data = {'A': [10, 20, 30], 'B': [5, 15, 25]}
df = pd.DataFrame(data)

# Filtering values greater than 3
filtered_values = df[(df > 3) & (df < 20)]
print("Filtered Values:\n", filtered_values)

Filtered Values:
       A     B
0  10.0   5.0
1   NaN  15.0
2   NaN   NaN

In [ ]:
import numpy as np

# Creating a DataFrame
data = {'A': [10, 20, 30], 'B': [5, 15, 25]}
df = pd.DataFrame(data)

# Introducing missing values
series_with_nan = pd.Series([1, 2, np.nan, 4])

# Filling missing values with 0
filled_series = series_with_nan.fillna(0)
print("Filled Series:\n", filled_series)

Filled Series:
 0    1.0
1    2.0
2    0.0
3    4.0
dtype: float64